:root {
  --main-text-color: #000000;
  --hover-text-color: #0daaee;
  --pc-heading-font-size: 3rem;
  --tablet-heading-font-size: 2.5rem;
  --mobile-heading-font-size: 2rem;
  --pc-subheading-font-size: 2rem;
  --tablet-subheading-font-size: 1.5rem;
  --mobile-subheading-font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-color: #ffffff;
  background-image: url('./assets/bg.png');
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

.bayan-item__input {
  display: none;
}

.main {
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 55rem;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
}

.bayan {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.bayan__title {
  font-size: var(--pc-heading-font-size);
  font-weight: 900;
  color: var(--main-text-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.bayan__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.bayan-item {
  cursor: pointer;
  transition: filter 0.2s;
  padding-top: 1rem;
}

.bayan-item__label {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: 0.5rem;
  cursor: pointer;
}

.bayan-item__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bayan-item__title {
  font-size: var(--pc-subheading-font-size);
  font-weight: 700;
  color: var(--main-text-color);
  transition: color 0.2s;
}

.bayan-item__icon {
  opacity: 1;
  width: 2rem;
  height: 2rem;
  background: url('./assets/svg/cross.svg') 50% 50% / cover no-repeat;
  transition: background 0.3s, opacity 0.3s, transform 0.3s;
}

.bayan-item__image-wrapper {
  display: flex;
  place-items: center;
  width: 100%;
  height: auto;
}

.bayan-item__image {
  width: 100%;
  height: auto;
  max-height: 0;
  margin-bottom: 0.5rem;
  opacity: 0;
  vertical-align: top;
  object-fit: contain;
  transition: opacity 0.5s, max-height 0.4s ease-in-out, height 0.4s ease-in-out,
    width 0.4s ease-in-out, transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.bayan-item:has(.bayan-item__input:checked) .bayan-item__image {
  opacity: 1;
  max-height: 60vh;
}

.bayan-item:has(.bayan-item__input:checked) .bayan-item__label {
}

.bayan-item:has(.bayan-item__input:checked) .bayan-item__icon {
  transform: rotate(315deg);
}

.bayan-item:has(.bayan-item__input:checked) .bayan-item__title {
  color: var(--main-text-color);
}

.bayan-item:active {
  filter: opacity(70%);
}

.bayan-item:active .bayan-item__title {
  text-shadow: 0.15rem 0.15rem #ff0062, -0.15rem -0.15rem #00c4ff;
}

.bayan-item:active .bayan-item__image {
  transform: scale(0.95);
  filter: grayscale(50%);
}

/* for not-touch devices */
@media screen and (hover: hover) {
  .bayan-item__icon {
    opacity: 0;
  }
  .bayan-item__title {
    color: var(--hover-text-color);
  }
  .bayan__list:hover .bayan-item__icon {
    opacity: 1;
  }
  .bayan__list:hover .bayan-item__title {
    color: var(--main-text-color);
  }
  .bayan-item:hover .bayan-item__image {
    opacity: 1;
    max-height: 60vh;
  }
}

/* TABLET */
@media screen and (min-width: 425px) and (max-width: 821px) {
  .bayan__title {
    font-size: var(--tablet-heading-font-size);
  }
  .bayan-item__title {
    font-size: var(--tablet-subheading-font-size);
  }
  .bayan-item__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* MOBILE */
@media screen and (min-width: 319px) and (max-width: 425px) {
  .bayan__title {
    font-size: var(--mobile-heading-font-size);
  }
  .bayan-item__title {
    font-size: var(--mobile-subheading-font-size);
  }
  .bayan-item__icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
